/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: hsl(223deg 3% 50%);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --player-height: 100px;
  --sidebar-width: 200px;
  --header-height: 80px;
  --sidebar-width-mobile: 50px;
}
/* MAIN */
.wrapper {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100% - var(--player-height));
  background-color: lightgreen;
}

.player {
  background-color: hsl(0deg 0% 16%);
  height: var(--player-height);
  width: 100%;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  padding: 1rem;
  background-color: black;
}

.content {
  padding: var(--header-height) 2rem 2rem;
  overflow-y: auto;
  height: 100%;
  width: calc(100% - var(--sidebar-width));
  background-color: hsl(219deg 26% 11%);
}

.select {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.select > button > i {
  margin-right: 10px;
}

.select > button:not(:last-child) {
  margin-bottom: 1rem;
}

.playlist > button {
  color: gray;
}

.playlist > button > i {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
}

.playlist > ul {
  margin-top: 1rem;
  color: gray;
  list-style-type: none;
}

.playlist > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.sidebar-content {
  position: relative;
}

.sidebar-down {
}

.cta {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  padding-top: 1.8rem;
  padding-right: 0.5rem;
  height: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  background-color: rgba(0, 0, 0, 0.6);
}

.cta-btn {
  font-size: 12px;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
}

.tabs {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.tabs > button {
  font-weight: 500;
  color: hsl(223deg 3% 50%);
}

.tabs > button:not(:last-child) {
  margin-right: 1rem;
}

.albums-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.album {
  width: calc(100% / 6 - 1rem);
  margin-right: 1rem;
}
/* FOOTER */
.player {
  display: flex;
  justify-content: space-between;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.cover-image {
  width: 20%;
  margin-left: 8px;
}

.cover-title {
  min-width: 80px;
  font-size: 12px;
  width: 40%;
}

.cover-icons > a {
  color: gray;
  margin-left: 0.5rem;
}

.player-volume {
  width: 60%;
}

.player-controls {
  width: 40%;
}

.player-controls-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.player-list {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.player-list > li > i {
  color: white;
  cursor: pointer;
}

.player-list > li:not(:last-child) {
  margin-right: 2rem;
}

.player-list .play {
  font-size: 2rem;
}

.player-list .play:hover {
  transform: scale(1.2);
}

.player-controls-time {
  display: flex;
  align-items: center;
}

.min,
.max {
  color: white;
  margin: 1rem;
  width: 7%;
}

.max {
  text-align: right;
}

.player-bar {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  width: 80%;
}

.audio {
  display: flex;
  align-items: center;
  width: 200px;
}

.player-list-right {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  color: white;
}

.player-list-right > li > i {
  color: white;
  cursor: pointer;
}

.player-list-right > li:not(:last-child) {
  margin-right: 2rem;
}
.player-bar-2 {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  width: 100%;
}
/* -------------MEDIAQUERY--------------- */
/* ---------------------------- */
/* MOBILE-XS-600PX */
/* MOBILE-S-700PX */
/* TABLET-MD-1100PX */
/* DESKTOP-LG->1100PX */
/* ----------------------------- */

/* MOBILE-XS */

@media screen and (max-width: 600px) {
  .sidebar {
    width: var(--sidebar-width-mobile);
  }

  .content {
    width: calc(100% - var(--sidebar-width-mobile));
  }

  .cta {
    width: calc(100% - var(--sidebar-width-mobile));
  }
}

/* TABLET-MD */
@media screen and (max-width: 1100px) {
  .album {
    width: calc(100% / 4 - 1rem);
  }
}
